<p> Exchanger is sleeping now </p>
{#{% if users_list %}#}
{#    {% for user in users_list %}#}
{#        <li> {{ user.name }} </li>#}
{#    {% endfor %}#}
{#{% else %}#}
{#    <p>No users are available.</p>#}
{#{% endif %}#}

<form action="{% url 'solver' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{#<select name="slist">#}
{#<option>Пользователи обменника</option>#}
{#{% for i in users_list %}#}
{#<option value="{{ i.uid }}">{{ i.name }}</option>#}
{#{% endfor %}#}
{#</select>#}